<div class="xflex xabsolute xbottom-0 xleft-0 xrotate-180">
    <div class="xw-screen h-3/4">
      <div style="background-image: url({{ 'scallop.png' | asset_url }});" class="xbg-repeat-x xw-full xbg-contain">.</div>

    </div>
  </div>