<div class="xflex xabsolute xtop-0 xleft-0">
  <div class="xw-screen h-3/4">
    <div style="background-image: url('../assets/scallop.png');" class="xbg-repeat-x xw-full xbg-contain">.</div>
  </div>
</div>